<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews -Indexes
    </IfModule>

    RewriteEngine On

    # Handle Authorization Header
    RewriteCond %{HTTP:Authorization} .
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]y

    RewriteCond %{HTTP_HOST} ^www\.ndnestor\.com$ [NC]
    RewriteRule ^(.*)$ https://ndnestor.com/$1 [L,R=301]

    # Redirect Trailing Slashes If Not A Folder...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_URI} (.+)/$
    RewriteRule ^ %1 [L,R=301]

    # Send Requests To Front Controller...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]

    <IfModule mod_headers.c>
        # HTTP Strict Transport Security (HSTS) for enforcing HTTPS
        Header always set Strict-Transport-Security "max-age=31536000; includeSubDomains; preload"
        
        # Content-Security-Policy Removed (No restrictions on external sources or inline styles)
        # Removed the CSP headers that were causing issues for inline styles and external resources.

        # X-Frame-Options to prevent clickjacking attacks
        Header always set X-Frame-Options "DENY"

        # X-Content-Type-Options to prevent MIME-sniffing attacks
        Header always set X-Content-Type-Options "nosniff"

        # Referrer-Policy to control how much referrer information is sent with requests
        Header always set Referrer-Policy "no-referrer-when-downgrade"

        # Permissions-Policy to limit the use of certain browser features and APIs
        Header always set Permissions-Policy "geolocation=(self), camera=()"
    </IfModule>
</IfModule>
