<IfModule mod_rewrite.c>
    RewriteEngine On

    # Redirigir todo de www a sin www y de http a https en una sola condición combinada
    RewriteCond %{HTTP_HOST} ^www\.(.+)$ [OR]
    RewriteCond %{HTTPS} off
    RewriteRule ^ https://ndnestor.com%{REQUEST_URI} [L,R=301]

    # Redirigir Trailing Slashes si no es carpeta
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_URI} (.+)/$
    RewriteRule ^ %1 [L,R=301]

    # Enviar todo a index.php si no es archivo ni directorio
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]
</IfModule>

<IfModule mod_headers.c>
    Header always set Strict-Transport-Security "max-age=31536000; includeSubDomains; preload"
    Header always set X-Frame-Options "DENY"
    Header always set X-Content-Type-Options "nosniff"
    Header always set Referrer-Policy "no-referrer-when-downgrade"
    Header always set Permissions-Policy "geolocation=(self), camera=()"
</IfModule>
